In [1]:
import pandas as pd

# Load the Excel file
file_path = 'August-2024-Primary-Rota123.csv'
df = pd.read_csv(file_path)

In [2]:
df.head()

,Name of Patient,Month,Caregiver Name,Attendance Count
0,Aarti/Hasmati devan,8,"Crg Felistas Wambui - 1000, Crg Naomi Paul - 8...","[1, 3, 27]"
1,Abuod Abdalla/Dalila,8,"Crg Nora Mukuhi Kimani - 1150, Crg Zilda Wakes...","[2, 5, 2]"
2,Amrat Shah/Niraj Shah,8,"Crg Sylvier Mercy - 800, Crg Stella Awonda - 800","[19, 14]"
3,Amritaben,8,"Crg Elizabeth Mwihaki - 950, Crg Emmadiana Mai...","[9, 5, 22, 26]"
4,Arama lifestyle,8,"Crg Venalize Wakhungu - 1000, Crg Lorna Kairu ...","[25, 28, 1, 27, 2]"

In [3]:
import re
from datetime import datetime

# Function to clean "Crg", numbers, and hyphens from Caregiver Name
def clean_caregiver_name(name):
    # Remove 'Crg', numbers, and hyphens
    cleaned_name = re.sub(r'(Crg\s*|\d+|-)', '', name)
    # Remove any extra spaces created during the process
    return ' '.join(cleaned_name.split())

# Apply the cleaning function to the "Caregiver Name" column
df['Caregiver Name'] = df['Caregiver Name'].apply(clean_caregiver_name)

# Convert month numbers to month names with year 2024 in the "Month" column
df['Month'] = df['Month'].apply(lambda x: datetime(2023, x, 1).strftime('%B - %Y'))

# Display the first few rows to verify the changes
df.head()

,Name of Patient,Month,Caregiver Name,Attendance Count
0,Aarti/Hasmati devan,August - 2023,"Felistas Wambui , Naomi Paul , Victoria Tijara","[1, 3, 27]"
1,Abuod Abdalla/Dalila,August - 2023,"Nora Mukuhi Kimani , Zilda Wakesho , Jacquelyn...","[2, 5, 2]"
2,Amrat Shah/Niraj Shah,August - 2023,"Sylvier Mercy , Stella Awonda","[19, 14]"
3,Amritaben,August - 2023,"Elizabeth Mwihaki , Emmadiana Maina , Esther N...","[9, 5, 22, 26]"
4,Arama lifestyle,August - 2023,"Venalize Wakhungu , Lorna Kairu , Laura Vuguts...","[25, 28, 1, 27, 2]"

In [4]:
# Remove square brackets from the "Attendance Count" column
df['Attendance Count'] = df['Attendance Count'].str.replace(r'[\[\]]', '', regex=True)

# Display the first few rows to verify the changes
df.head()

,Name of Patient,Month,Caregiver Name,Attendance Count
0,Aarti/Hasmati devan,August - 2023,"Felistas Wambui , Naomi Paul , Victoria Tijara","1, 3, 27"
1,Abuod Abdalla/Dalila,August - 2023,"Nora Mukuhi Kimani , Zilda Wakesho , Jacquelyn...","2, 5, 2"
2,Amrat Shah/Niraj Shah,August - 2023,"Sylvier Mercy , Stella Awonda","19, 14"
3,Amritaben,August - 2023,"Elizabeth Mwihaki , Emmadiana Maina , Esther N...","9, 5, 22, 26"
4,Arama lifestyle,August - 2023,"Venalize Wakhungu , Lorna Kairu , Laura Vuguts...","25, 28, 1, 27, 2"

In [5]:
df1=df.copy()

In [6]:
df1.isnull().sum()

Name of Patient     0
Month               0
Caregiver Name      0
Attendance Count    0
dtype: int64

In [7]:
# Save the result to a CSV
output_path = '2024 - August-2024-Primary-Rota123.csv'
df1.to_csv(output_path, index=False)